@import url(../root/root.css);

.main {
  background-color: var(--dark-background-color);
  width: 100%;
  display: flex;
  justify-content: center;
}
.inventoryContainer {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 0.5rem;
  gap: 0.5rem;
}
