@import url(../root/root.css);

.subtotal,
.shipping {
  display: flex;
  justify-content: space-between;
}
.main {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-background-color);
  gap: 1rem;
}

.emptyCartContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  background-color: var(--dark-background-color);
  border-radius: 10px;
  padding: 1rem;
}

.emptyCartHeader {
  margin: 1rem;
  text-align: center;
}
.emptyCartinfo {
  margin-bottom: 1rem;
}
.emptyCartSignIn {
}
.emptyCartShopButton {
  margin: 1rem;
  padding: 5px 10px;
  background-color: var(--button-background-color);
  color: var(--light-font-color);
  border-radius: 1000px;
  border: none;
}

.cartItems {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.orderSummary {
  background-color: var(--light-background-color);
  border-radius: 20px;
  padding: 1rem;
  max-width: 300px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
}

.subtotal,
.shipping {
  display: flex;
  justify-content: space-between;
}

.button {
  color: var(--light-font-color);
  background-color: var(--button-background-color);
  border: none;
  border-radius: 9999px;
  padding: 5px 10px;
  margin-top: 0.5rem;
}

@media (min-width: 500px) {
  .main {
    flex-direction: row;
    align-items: start;
  }
}
