@import url(../root/root.css);

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-background-color);
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/about.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 16rem;
  position: relative;
  display: flex;
  align-items: center;
}

.h1 {
  color: var(--light-font-color);
  font-size: 3rem;
  text-shadow: 2px 2px 4px black;
  opacity: 100%;
}

.header * {
  color: var(--light-font-color);
}
.photoCredit {
  position: absolute;
  bottom: 3px;
  right: 8px;
  font-size: 0.8rem;
}

.text {
  padding: 1rem;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  margin: 2rem 0 2rem;
  padding: 10px 15px;
  border-radius: 10000px;
  border: none;
  color: var(--light-font-color);
  background-color: var(--button-background-color);
  cursor: pointer;
  transition: all 0.1s;
}

.btn:hover {
  background-color: var(--button-hover-color);
}

.btn:active {
  transform: scale(0.99);
}

@media (min-width: 500px) {
  .buttonContainer {
    flex-direction: row;
    gap: 2rem;
  }
}
