:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
img,
picture,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*-------- reset above --------*/
:root {
  --dark-font-color: hsl(0, 0%, 0%);
  --light-font-color: hsl(0, 0%, 100%);
  --light-background-color: hsl(0, 0%, 90%);
  --dark-background-color: hsl(0, 0%, 85%);
  --highlight-color: hsl(120, 100%, 25%);
  --button-background-color: hsl(105, 81%, 25%);
}

body {
  height: 100vh;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

header {
  background-color: var(--light-background-color);
  display: flex;
  justify-content: center;
}

nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.navLinks {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  display: none;
}
li * {
  text-decoration: none;
  color: var(--font);
}
.active {
  text-decoration: underline;
}

.cartIcon {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
}

.cartTotal {
  color: var(--dark-font-color);
}

header svg {
  fill: var(--dark-font-color);
}

main {
  flex-grow: 1;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  gap: 1rem;
}

.links {
  display: flex;
  gap: 2rem;
}

.links svg {
  height: 2rem;
  width: auto;
  text-decoration: none;
  fill: black;
}
.links svg:visited {
}

@media (min-width: 500px) {
  .navLinks {
    display: flex;
  }
}
